<h1>Listing Oders</h1>

<table class="table">
  <thead>
    <tr>
      <th>Coin</th>
      <th>Date</th>
      <th>Number of coins</th>
      <th>Price of coin</th>
      <th>Payed with</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @oders.each do |oder| %>
      <tr>
        <td><%= oder.coin %></td>
        <td><%= oder.date %></td>
        <td><%= oder.number_of_coins %></td>
        <td><%= oder.price_of_coin %></td>
        <td><%= oder.payed_with %></td>
        <td><%= link_to 'Show', oder %></td>
        <td><%= link_to 'Edit', edit_oder_path(oder) %></td>
        <td><%= link_to 'Destroy', oder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Oder', new_oder_path %>
