<%# simple_form_for :handel, url: coins_path do |f| %>
<%= simple_form_for :oder, url: coins_path do |f| %>
<%= f.error_notification %>

  <table class="table">
    <thead>
      <td>Gekauft</td>
      <td>Datum</td>
      <td>Anzahl</td>
      <td>Preis</td>
      <td>Bezahlt mit</td>
      <td></td>
    </thead>

    <tbody>
      <td>
        <div class="ui-widget">
        <%=  f.input :coin, :url => autocomplete_coin_name_coins_path, :as => :autocomplete, label:false, placeholder: 'Tippe Coin ein:' %>
      </div>
      </td>
      <td>
        <%= f.input :date, input_html: {class: 'datepicker'}, label:false, placeholder: 'Wann gekauft' %>
      </td>
      <td>
        <%= f.input :number_of_coins, placeholder: '1', label:false, as: :decimal %>
      </td>
      <td>
        <%= f.input :price_of_coin, placeholder: '100', label:false, as: :decimal %>
      </td>
      <td>
        <select class="form-control">
          <optgroup>
            <option value="usd">USD</option>
            <option value="chf">CHF</option>
            <option value="eur">EUR</option>
          </optgroup>
          <optgroup>
            <option value="btc">btc</option>
            <option value="eth">eth</option>
            <option value="ltc">ltc</option>
          </optgroup>
        </select>
      </td>
      <td>
        <%= f.button :submit, value: 'Eintragen', class: 'btn btn-success' %>
      </td>
    </tbody>
  </table>
<% end %>
